@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --black: #333333;
  --white: #ffffff;
  --darkcyan: #77b2d3;
  --gradient: linear-gradient(122deg, #f32c6d 29.57%, #cb1d95 85.47%);
}

html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #f7f6ff;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

section {
  padding: 5rem 2rem;
}

.section-title {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 126%;
  text-transform: uppercase;
  color: var(--chernyy);
}

.btn {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 162%;
  color: var(--white);
  background: var(--gradient);
  padding: 1.4rem 3.3rem;
  border-radius: 0.9rem;
}

/* ================================== HEADER ================================== */

.header {
  max-height: 8.5rem;
  background-color: var(--white);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  max-width: 325px;
  padding-top: 1rem;
  display: block;
}

.nav-list {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-item a {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--black);
}

.header-menu i {
  display: none;
  font-size: 2.5rem;
}

/* ================================== HERO ================================== */

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}

.hero-info h1 {
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 1.4;
  color: var(--black);
  max-width: 46.3rem;
  margin-bottom: 1.4rem;
}

.hero-info p {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--black);
  margin-bottom: 2.9rem;
}

.hero-actions {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.hero-actions button {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--white);
  background-color: var(--darkcyan);
  padding: 1.4rem 3rem;
  border-radius: 25rem;
  white-space: nowrap;
}

/* ================================== STATS ================================== */

.stats .container {
  padding: 4rem 5rem;
  border-radius: 2rem;
  background-color: var(--white);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.08);
}

.stats-list {
  display: flex;
  margin-top: 3.5rem;
  align-items: center;
}

.stats-item {
  border-right: 1px solid #c7c7c7;
  padding: 0 6.2rem;
}

.stats-item:first-child {
  padding-left: 0;
}

.stats-item:last-child {
  border-right: none;
}

.stats-item h3 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.2;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.3rem;
}

.stats-item h3 span {
  font-size: 3rem;
}

.stats-item p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--black);
}

/* ================================== SERVICES ================================== */

.services-list {
  margin-top: 4rem;
  display: grid;
  gap: 1.8rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services-content {
  height: 37.8rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 2.1rem;
  position: relative;
}

.services-header {
  padding: 1.1rem 5.3rem;
  background-color: var(--darkcyan);
}

.services-header h4 {
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

.services-features {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2.1rem;
  padding-left: 1.6rem;
}

.services-feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.services-feature i {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--white);
  background: var(--gradient);
}

.services-feature span {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--black);
}

.services-price {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.services-price h2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 0.8;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-price h2 span {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--black);
  background: none;
  background-clip: initial;
  -webkit-background-clip: initial;
}

.services-item .btn {
  display: block;
  margin: 0px auto;
}

/* ================================== CONSULT ================================== */

.consult .container {
  gap: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
}

.consult-form {
  display: grid;
}

.consult-form p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--black);
  margin: 2.2rem 0;
}

.consult-form-top {
  display: grid;
  gap: 3rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.consult-form input {
  display: block;
  border-radius: 0.7rem;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.08);
  background: var(--white);
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--black);
  height: 59px;
  padding: 1.6rem 1.9rem;
}

.consult-form textarea {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.08);
  background: var(--white);
  border-radius: 0.7rem;
  width: 100%;
  height: 141px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--black);
  padding: 1.6rem 1.9rem;
  outline: none;
}

.consult-form label {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--black);
}

.consult-form label input {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.08);
  background: var(--belyy);
  border-radius: 2px;
  width: 32px;
  height: 32px;
  margin: 2.4rem 0;
}

/* ================================== WORKS ================================== */

.works-carousel-list {
  display: flex;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(54rem, 1fr)); */
  align-items: center;
  gap: 3rem;
  margin-top: 4.1rem;
}

.works-carousel-item {
  max-width: 90%;
  height: 51.8rem;
  border-radius: 1.5rem;
  padding: 2.3rem;
  background-color: var(--white);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.08);
  position: relative;
}

.works-carousel-top {
  margin-bottom: 2.4rem;
}

.works-carousel-top p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--black);
}

.works-carousel-middle {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #f3f1fe;
  padding: 2.1rem 1rem 2.1rem 2.3rem;
  top: 22.7rem;
}

.works-carousel-middle h3,
.works-carousel-bottom h3 {
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1rem;
}

.works-carousel-middle-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.works-carousel-middle-list h4,
.works-carousel-middle-list p {
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 1.4;
  color: var(--black);
}

.works-carousel-middle-list p {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 0.8rem;
}

.works-carousel-bottom {
  padding-top: 2.4rem;
  height: 13.5rem;
  position: absolute;
  bottom: 0;
}

.works-carousel-bottom-partners {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

/* ================================== FOOTER ================================== */

.footer {
  padding: 5rem 2rem;
  background-color: var(--white);
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-col {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer-col:nth-child(1) a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--black);
}

.footer-col button {
  margin-top: 2.2rem;
}

.footer-col h3 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1.3rem;
}

.footer-item a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2;
  color: var(--black);
}

/* ================================== COPYRIGHT ================================== */
.copyright {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5;
  color: var(--white);
  background-color: #2d2d2d;
  text-align: center;
  padding: 0.5rem 0;
}

/* ================================== RESPONSIVE ================================== */
@media (max-width: 992px) {
  /* ================================== HEADER ================================== */
  .header .btn {
    display: none;
  }

  .header-menu i {
    display: block;
  }

  .nav-list {
    position: fixed;
    left: 0px;
    height: calc(100vh - 8.5rem);
    top: 8.5rem;
    background-color: var(--white);
    flex-direction: column;
    width: 300px;
    z-index: 100;
    align-items: flex-start;
    padding: 2rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: all 0.3s;
  }

  .nav-list.show {
    transform: translate(0);
  }

  /* ================================== HERO ================================== */
  .hero .container {
    flex-direction: column;
    text-align: center;
  }

  /* ================================== STATS ================================== */
  .stats-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .stats-item {
    padding: 0;
    border: none;
  }

  /* ================================== WORKS ================================== */

  .works-carousel-list {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .consult .container,
  .consult-form-top {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  /* ================================== HERO ================================== */
  .hero-actions {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* ================================== STATS ================================== */
  .stats-list {
    grid-template-columns: 1fr;
  }

  .stats-item {
    margin: 0px auto;
  }

  /* ================================== WORKS ================================== */

  .works-carousel-item {
    height: fit-content;
  }

  .works-carousel-middle {
    display: none;
  }

  .works-carousel-bottom {
    position: relative;
  }

  .works-carousel-bottom-partners {
    flex-direction: column;
    align-items: flex-start;
  }
}
